.btn-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  // padding: 15px 30px;
  text-align: center;
 align-items: center;
  // font-weight: bold;
 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center; 

 & .load-more{
  width: 400px;
  font-family:'Times New Roman', Times, serif;
  background-color: #40b493;
  color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  margin: 25px;
 }
  .close-btn{
     background-color: #75adbb;
     padding: 21px;
  border-radius: 8px;
  margin: 20px;
  }
}
